/* Flexbox Container */
.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

/* Flexbox Items */
.flex-item {
    background-color: #4CAF50;
    color: white;
    padding: 20px;
    margin: 0 60px;
    text-align: center;
    border-radius: 8px;
    width: 100px;

}
